/build/
/.vscode/

# subprojects
subprojects/*

!subprojects/freetype.wrap
!subprojects/glm.wrap
!subprojects/logger.wrap
# can't figure out how to make !subprojects/glm/meson.build to work properly so just force add changes smil